.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 229, 238);
    width: 100%;
}

.header_top_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.header_top_nav_item{
  padding: 10px;
}
.header_top_nav_item i{
    font-size: 20px;
    color: rgb(22, 1, 1);
    padding-right: 4px;
  }

  .header_top_nav_item a{
    color: white;
    font-size: 14px;
  }
  .header_top_nav_item a:hover{
    color: rgb(98, 229, 238);
  }